ADF-SAMPLE01/templates/TEMPLATE_CopyData_from_Amazon_S3_to_AzureDataLakeStorage1/TEMPLATE_CopyData_from_Amazon_S3_to_AzureDataLakeStorage1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name"
		},
		"AmazonS31": {
			"type": "string"
		},
		"AzureDataLakeStorage1": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyData_from_Amazon_S3_to_AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy data from Amazon S3 to Azure Data Lake Storage.\n\nYou can also go to \"Copy Data Tool\" to get the pipeline for more connectors and scenarios.",
				"activities": [
					{
						"name": "AmazonS3_to_Azure",
						"description": "Copy data from Amazon S3 to Azure Data Lake Storage.",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "AzureBlobFSSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "DataSourceStore1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DataDestinationStore1",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy Data1",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"enableStaging": false
						}
					},
					{
						"name": "Custom1",
						"type": "Custom",
						"dependsOn": [
							{
								"activity": "AmazonS3_to_Azure",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ML Batch Execution1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						}
					},
					{
						"name": "ML Batch Execution1",
						"type": "AzureMLBatchExecution",
						"dependsOn": [
							{
								"activity": "Copy Data1",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Custom1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DataSourceStore1')]",
				"[concat(variables('factoryId'), '/datasets/DataDestinationStore1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataSourceStore1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection your Amazon S3 store.",
				"linkedServiceName": {
					"referenceName": "[parameters('AmazonS31')]",
					"type": "LinkedServiceReference"
				},
				"type": "AmazonS3Object",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataDestinationStore1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your Azure Data Lake Store.",
				"linkedServiceName": {
					"referenceName": "[parameters('AzureDataLakeStorage1')]",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlobFSFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					}
				}
			}
		}
	]
}